
<ng-container *ngIf="customers; else LoadingOrFailure">
  <div class="container m-3" >
  <div *ngIf="searchGroup">
    <form [formGroup]="searchGroup" (ngSubmit)="search()">
      <div class="input-group m-3">
        <label class="input-group-text">keyword</label>
        <input type="text" placeholder="Nom du client ..." class="form-control"  formControlName="keyword"/>
        <button class="btn btn-primary"><i class="bi bi-search"></i></button>
      </div>
    </form>
  </div>
    <div class="card">
      <div class="card-header">
        <h1>Liste des clients</h1>
      </div>
      <div class="card-body" >
          <table class="table table-striped">
            <thead>
              <th>
                #Id
              </th>
              <th>
                Nom
              </th>
              <th>
                Email
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let cust of customers">
                <td>{{cust.id}}</td>
                <td>{{cust.name}}</td>
                <td>{{cust.email}}</td>
                <td><button class="btn btn-danger" (click)="deleteCustomer(cust.id)"><i class="bi bi-trash"></i></button></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  
</ng-container>

<ng-template #LoadingOrFailure>

  <ng-container *ngIf="errorMessage; else loading">
    <div class="alert alert-danger">
        {{errorMessage}}
    </div>



  </ng-container>
  <ng-template #loading>
      loading .......
  </ng-template>
</ng-template>